main{
    .address{
        .each_address{
            text-align: center;
            i{
                padding: 1.3rem;
                background-color: rgba(192, 192, 192, 0.315);
                color: $primary_color;
                font-size: 2rem;
                border-radius: 50%;
            }
        }
    }
}